*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;
    background-color: #DEDCFF;
    padding:40px 80px 20px 80px;
    font-family: "DM Sans", sans-serif;
}
#root{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}